body {
    margin: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #1A6566;
}

img {
    height: 200px;

}

nav {
    padding: 16px;
    border: 1px black;
    background-color: #00BBC9;
}

a {
    text-decoration: none;
    color: blue;
}

h1 {
    color: blue;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title a {
    color: antiquewhite;
}

table {
    display: grid;
    grid-template-columns: auto;
    border-spacing: 15px;
}

.second {
    background-color: lightgray;
}

.fourth {
    background-color: lightgray;
}
